:root {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --color-blue-dark: #090b26;
    --color-blue: #2436F7;
    --color-blue-light: #48e5ff;
    --color-green-light: #47f586;
    --color-white-pure: #ffffff;

    background-color: var(--color-blue-dark);
    color: var(--color-white-pure);

    overflow: hidden;
}


h1, h2, h3, h4, p, li, ul, ol {
    padding: 0;
    margin: 0;
}

a {
    color: var(--color-white-pure);
}

a:hover {
    color: var(--color-green-light);
}

body {
    padding: 0;
    margin: 0;
}

.o-container {
    max-width: calc(1250 / 16 * 1rem);
    margin: 0 auto;
    padding-left: calc(6 / 16 * 1rem);
    padding-right: calc(6 / 16 * 1rem);

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-center_canvas-title {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    padding: 30px;

    gap: calc(18 / 16 * 1rem);
    transform: translate(0, 70%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 5;
    user-select: none;

}

.splashscreen-title {
    font-size: calc(50 / 16 * 1rem);
    text-shadow: var(--color-blue-dark) 2px 2px 10px;
    text-align: center;
}


.gallery-view {
    display: block;
    position: absolute;

    top: -126px;

    z-index: 0;
}


.c-mainnav {
    /*position: absolute;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(60 / 16 * 1rem);
    padding-top: calc(50 / 16 * 1rem);
    z-index: 5;

}

.c-nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: calc(25 / 16 * 1rem);
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 19px 0 19px 40px;

    background-image: linear-gradient(90deg, rgba(9, 11, 38, 0), var(--color-blue-dark) 70%);
}

.c-contact--button {
    border-radius: calc(50 / 16 * 1rem) 0 0 calc(50 / 16 * 1rem);
    background-color: var(--color-blue);
    padding: 20px 40px 20px 40px;
}

.c-contact--button:hover {
    background-color: #171a61;
}